html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

div {
  border: solid red 1px;
}
/* header encompass total*/
header {
background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 30rem;
}

/* banner begin */
.banner {
 background-color: cadetblue;
 color: white;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 position: fixed;
 width: 960px;
 margin-top: 1rem;
}

.companybit {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
}

.companybit img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  padding-top:  1rem;
  padding-bottom: 1rem;
}

nav span {
  padding: 0 2rem;
}
 .menu {
   display: none;
 }
/*banner end */
/* second flex div annoucement banner floating*/

.shoutout {
  display: flex;
  justify-content: flex-end;
  max-width: 960px;
  margin: auto;
}

.announcement {
  background-color: white;
  margin-right: -2rem;
  margin-top: 10rem;
  display: inline-block;
  padding: 0.75rem 5rem;
  line-height: 2.4rem

}

.announcement h1 {
  text-transform: uppercase;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;

}

/* end of header */

.catalogue {
  max-width: 960px;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: "Helvetica", sans-serif;
}

.product {
  width: 5rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.product img {
  width: 3.5rem;

}

.product span {
  text-align: center;
}

/* that is the end */
/*new container below*/
.info {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.infoblock {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;

}

.infoblock h2 {
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  width: 50%;
}

footer {
background-color: azure;
display: flex;
justify-content: center;
}

.footer_title {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  width: 960px;
}

.footer_title img {
  height: 1.5rem;
  padding-right: 1rem;
}

@media screen and (max-width:1024px){
  header{
    height: 22rem;
  }

  .banner{
    margin-top: 0;
  }
  .shoutout{

  }
  .announcement{
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .announcement h1{
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}
